<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/resources/member/loginForm.css">
</head>
<body>
    <h1>LOGIN</h1>
    <form th:action="@{/login_check}" method="post">
        <div th:if="${LoginFailMessage != null}">
    		<p> Error : <span th:text="${LoginFailMessage}"></span> </p>
		</div>
        USER : <input type="text" name="user_id"><br>
        PASSWORD : <input type="password" name="user_pw"><br>
        <input type="checkbox" name="_spring_security_remember_me">로그인 유지<br>
        <input type="submit" value="Login">
    </form>
</body>
</html>