<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="/resources/BootStrapTemplates/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/resources/BootStrapTemplates/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/resources/BootStrapTemplates/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script defer src="/resources/modal/js/adminList.js"></script>
    <script defer src="/resources/modal/js/adminModal.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Bando Tech</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="IOmanage">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>메인 페이지 이동</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                	기업 List
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>구매처</span>
                </a>
                <div id="collapseTwo" class="collapse"
					aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">구매처 명:</h6>
						<div th:each="purch : ${purchasecomplist}">
							<a class="collapse-item" th:if="${purch != null}" th:text="${purch.purchase_company}"
								th:href="'/purchasecompany/' + ${purch.purchase_id}"> 거래처명이 없습니다. </a> <span
								th:unless="${purch != null}"> 거래처 객체가 없습니다. </span>
						</div>
					</div>
				</div>

			</li>
            
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>고객사</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>명세서 관리</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="/resources/BootStrapTemplates/img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="/resources/BootStrapTemplates/img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="/resources/BootStrapTemplates/img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">반도테크</span>
                                <img class="img-profile rounded-circle"
                                    src="/resources/BootStrapTemplates/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">재고관리</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 -inline">
                            <h6 class="m-0 font-weight-bold text-primary">총 내역</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <div class="d-flex justify-content-end">
                                                        
                                        <a class="btn btn-sm btn-outline-danger" type="button" 
                                        				onclick="deleteValue();" th:text="삭제"></a>
                                    </div>
                                <table class="table table-hover" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                        	<th style="min-width: 50px">
                                        		<input type="checkbox" id="allCheck" name="allCheck">
                                        	</th>
                                            <th>판매일</th>
                                            <th>품명</th>
                                            <th>고객사</th>
                                            <th>기계명</th>
                                            <th>담당자</th>
                                            <th>규격(mm)</th>
                                            <th>수량</th>
                                            <th>단가</th>
                                            <th>세액</th>
                                            <th style="min-width: 50px">
                                            	<a class="btn btn-outline-primary btn-sm" 
                                            			data-toggle="modal"
                                                        href="#machineAddModal" 
                                                        style="cursor: pointer;"
                                                        th:clientCompany="${clientCompany}"
                                                        th:client_id="${client_id}"
                                                        th:onclick="initMachineAdd([
                                                        	this.getAttribute('clientCompany'),
                                                        	this.getAttribute('client_id'),
                                                        ])">기계추가</a>
                                                        
                                                <a class="btn btn-outline-primary btn-sm" 
                                            			data-toggle="modal"
                                                        href="#sellAddModal" 
                                                        style="cursor: pointer;"
                                                        th:clientCompany="${clientCompany}"
                                                        th:client_id="${client_id}"
                                                        th:machine_name="${machine_name}"
                                                        th:machine_id="${machine_id}"
                                                        th:onclick="initSellAdd([
                                                        	this.getAttribute('clientCompany'),
                                                        	this.getAttribute('client_id'),
                                                        	this.getAttribute('machine_name'),
                                                        	this.getAttribute('machine_id'),
                                                        ])">추가</a>       
                                            </th>
                                            
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th></th>
											<th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>총 구매(건)</th>
                                            <th></th>
                                            <th>총 지출(원)</th>
                                            <th></th>
											<th>
                                            	<a class="btn btn-outline-primary btn-sm">저장</a>
											</th>
                                        </tr>
                                    </tfoot>
									<tbody>

										<!-- 각 SellAllDataDTO 객체에 대한 속성 출력 -->
										<tr th:each="sellData : ${sellAllDataList}" data-toggle="modal" data-target="#ClientCompInfoModal" 
																	th:client_company="${sellData.client_company}"
																	th:address="${sellData.address}"
																	th:comp_number="${sellData.comp_number}"
																	th:email="${sellData.email}"
																	th:machine_id="${sellData.machine_id}"
																	th:machine_name="${sellData.machine_name}"
																	th:machine_memo="${sellData.machine_memo}"
																	th:responsibility="${sellData.responsibility}"
																	th:ph_number="${sellData.ph_number}"
																	th:onclick="initSell([
																		this.getAttribute('client_company'),
																		this.getAttribute('address'),
																		this.getAttribute('comp_number'),
																		this.getAttribute('email'),
																		this.getAttribute('machine_id'),
																		this.getAttribute('machine_name'),
																		this.getAttribute('machine_memo'),
																		this.getAttribute('responsibility'),
																		this.getAttribute('ph_number')
											                    ])">
											<th style="min-width: 50px">
                                        		<input type="checkbox" name="RowCheck" th:value="${sellData.resp_id}"/>
                                        	</th>
											<td
												th:text="${#dates.format(sellData.sell_date, 'yyyy-MM-dd')}"></td>
											<td th:text="${sellData.sell_pdt}"></td>
											<td th:text="${sellData.client_company}"></td>
											<td th:text="${sellData.machine_name}"></td>
											<!-- 필요한 속성들을 모두 출력 -->
											<td th:text="${sellData.responsibility}"></td>
											<td class="money" th:text="${sellData.sell_length + ' * ' + sellData.sell_weight + ' (mm)'}"></td>
											<td class="money" th:text="${sellData.sell_quantity + 'EA'}"></td>
											<td class="money" th:text="${sellData.sell_price + '원'}"></td>
											<td class="money" th:text="${sellData.tax + '원'}"></td>
											
											<td><a class="btn btn-outline-primary btn-sm"
												data-toggle="modal" href="#SellDataModal"
												style="cursor: pointer;"
												th:sell_pdt="${sellData.sell_pdt}"
												th:client_id="${client_id}"
												th:client_company="${sellData.client_company}"
												th:machine_id="${sellData.machine_id}"
												th:machine_name="${sellData.machine_name}"
												th:responsibility="${sellData.responsibility}"
												th:sell_length="${sellData.sell_length}"
												th:sell_weight="${sellData.sell_weight}"
												th:sell_quantity="${sellData.sell_quantity}"
												th:sell_price="${sellData.sell_price}"
												th:tax="${sellData.tax}"
												th:resp_id="${sellData.resp_id}"
												th:onclick="initSellDataEdit([
																	this.getAttribute('sell_pdt'),
																	this.getAttribute('client_id'),
											                        this.getAttribute('client_company'),
											                        this.getAttribute('machine_id'),
																	this.getAttribute('machine_name'),
																	this.getAttribute('responsibility'),
																	this.getAttribute('sell_length'),
																	this.getAttribute('sell_weight'),
																	this.getAttribute('sell_quantity'),
																	this.getAttribute('sell_price'),
																	this.getAttribute('tax'),
																	this.getAttribute('resp_id')
											                    ])">
													수정 </a></td>
										</tr>

									</tbody>
								</table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
        <!-- 기계정보 추가모달 -->
<div class="modal fade" id="machineAddModal" tabindex="-1" role="dialog"
     aria-labelledby="machineAddLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="machineLabel">기계 추가</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            
            <!-- 추가 폼태그 -->
                <form id="machineAddLabelForm">
                
                
                	<div class="mb-3 row">
                        <label for="editName" class="col-sm-2 col-form-label">고객사</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addclientCompany" name="clientCompany" value="" readonly>
                            <input type="hidden" class="form-control" id="addclient_id" name="client_id" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editId" class="col-sm-2 col-form-label">기계명</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addProduct" name="machine_name" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">메모</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="addReposibility" name="machine_memo" value="" require>
                        </div>
                    </div>
                    
                    
                </form>
               </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="machineAddList()">추가</button>
            </div>
        </div>
    </div>
</div>








    
    
    <!-- 판매정보 추가모달 -->
<div class="modal fade" id="sellAddModal" tabindex="-1" role="dialog"
     aria-labelledby="sellAddLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sellAddLabel">판매정보 추가</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            
            <!-- 추가 폼태그 -->
                <form id="sellAddLabelForm">
                	<div class="mb-3 row">
                        <label for="editName" class="col-sm-2 col-form-label">고객사</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="clientCompany" value="" readonly>
                            <input type="hidden" class="form-control" id="client_id" name="client_id" value="" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editName" class="col-sm-2 col-form-label">기계</label>
                        <div class="col-sm-10">
                            <select id="machineDropdown" class="form-control">
								<option value="">설비를 선택하세요</option>
								<option th:each="machine : ${machinelist}"
									th:if="${machine != null}" th:value="${machine.machine_id}"
									th:text="${machine.machine_name}"></option>
							</select>
                            <input type="hidden" class="form-control" id="machine_id" name="machine_id" value="" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editId" class="col-sm-2 col-form-label">담당자</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addResponsibilityt" name="responsibility" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">번호</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addPh_number" name="ph_number" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">품명</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addsell_pdt" name="sell_pdt" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">수량</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addSell_quantity" name="sell_quantity" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">길이</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addSell_length" name="sell_length" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">폭</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addSell_weight" name="sell_weight" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">단가</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addSell_price" name="sell_price" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">세액</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addTax" name="tax" value="" require>
                        </div>
                    </div>
                </form>
               </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="sellAddList()">추가</button>
            </div>
        </div>
    </div>
</div>









    <!-- 판매정보 수정모달 -->
<div class="modal fade" id=SellDataModal tabindex="-1" role="dialog"
     aria-labelledby="SellDataModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SellDataLabel">판매정보 수정</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            
            <!-- 추가 폼태그 -->
                <form id="SellDataEditLabelForm">
                    <div class="mb-3 row">
                        <label for="EditProduct" class="col-sm-2 col-form-label">품명</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Editsell_pdt" name="sell_pdt" value="" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editName" class="col-sm-2 col-form-label">고객사</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Editclient_company" name="client_company" value="" readonly>
                            <input type="hidden" class="form-control" id="Editclient_id" name="client_id" value="" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">기계명</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Editmachine_name" name="machine_name" value="" readonly>
                        	<input type="hidden" class="form-control" id="Editmachine_id" name="machine_id" value="" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">담당자</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Editresponsibility" name="responsibility" value="" require>
                            <input type="hidden" class="form-control" id="Editresp_id" name="resp_id" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">가로</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Editsell_length" name="sell_length" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">폭</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Editsell_weight" name="sell_weight" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">수량</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Editsell_quantity" name="sell_quantity" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">단가</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Editsell_price" name="sell_price" value="" require>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">세액</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Edittax" name="tax" value="" require>
                        </div>
                    </div>
                </form>
               </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="EditSellData()">수정</button>
            </div>
        </div>
    </div>
</div>












  <!-- 고객사정보 조회모달 -->
<div class="modal fade" id="ClientCompInfoModal" tabindex="-1" role="dialog"
     aria-labelledby="ClientCompInfoLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ClientCompInfoLabel">상세보기</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            
            <!-- 추가 폼태그 -->
                <form id="ProductEditLabelForm">
                    <div class="mb-3 row">
                        <label for="editName" class="col-sm-2 col-form-label">회사명</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="SellclientCompany" name="purchasecomp" value="" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">주소</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="SellAddress" name="reposibility" value="" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">번호(C)</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="SellCompNumber" name="pweight" value="" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">이메일</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="SellEmail" name="pweight" value="" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">기계명</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="SellMachineName" name="plength" value="" readonly>
                            <input type=hidden class="form-control" id="SellMachineId" name="plength" value="" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">메모</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="SellMachineMemo" name="quantity" value="" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">담당자</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="SellReposibility" name="pchprice" value="" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editEmail" class="col-sm-2 col-form-label">번호(R)</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="SellPhNumber" name="price" value="" readonly>
                        </div>
                    </div>
                </form>
               </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="EditProductList()">수정</button>
            </div>
        </div>
    </div>
</div>







    <!-- Bootstrap core JavaScript-->
    <script src="/resources/BootStrapTemplates/vendor/jquery/jquery.min.js"></script>
    <script src="/resources/BootStrapTemplates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/resources/BootStrapTemplates/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/resources/BootStrapTemplates/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/resources/BootStrapTemplates/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/resources/BootStrapTemplates/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/resources/BootStrapTemplates/js/demo/datatables-demo.js"></script>

	<script type="text/javascript">
	
	// 금액 단위 표시 (정규식 사용)
	$(document).ready(function() {
    $('.money').each(function() {
        var money = $(this).text();
        var reviseMoney = money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        $(this).text(reviseMoney);
    });
});

	// 체크박스 전체 선택 로직
	$(function(){
	    var chkObj = document.getElementsByName("RowCheck");
	    var rowCnt = chkObj.length;

	    $("input[name='allCheck']").click(function(){
	        var chk_listArr = $("input[name='RowCheck']");
	        for(var i=0; i<chk_listArr.length; i++){
	            chk_listArr[i].checked = this.checked;
	        }
	    });

	    $("input[name='RowCheck']").click(function(){
	        if($("input[name='RowCheck']:checked").length == rowCnt){
	            $("input[name='allCheck']")[0].checked = true;
	        }else{
	            $("input[name='allCheck']")[0].checked = false;
	        }
	    });
	});

	function deleteValue(){
	    var url = "http://localhost:8090/clientcompany/delete";
	    var valueArr = new Array();
	    var list = $("input[name='RowCheck']");
	    for(var i=0; i<list.length; i++){
	        if(list[i].checked){
	            valueArr.push(list[i].value);
	        }
	    }
	    alert(valueArr);
	    if(valueArr.length == 0){
	        alert("선택된 글이 없습니다.");
	    }else{
	        var chk = confirm("정말로 삭제하시겠습니까?");
	        $.ajax({
	            url : url,
	            type : 'POST',
	            traditional : true,
	            data : {
	                valueArr : valueArr
	            },
	            success: function(data){
	                if(data == 1){ // 수정: 비교 연산자 수정
	                    alert("성공");
	                    location.reload();
	                }else{
	                    alert("실패");
	                }
	            }
	        });
	    }
	}
	
	
	
	// 구매정보 추가 로직
	function PurchAddList(){
    const formData = $("#PurchAddLabelForm").serialize();

    Swal.fire({
        title: '재고 추가',
        text: "정말로 추가 하시겠습니까?",
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '승인',
        cancelButtonText: '취소',
        reverseButtons: false, // 버튼 순서 거꾸로

    }).then(result => {

        if(result.isConfirmed){
            $.ajax({
                url: "http://localhost:8090/purchasecompany/purchadd",
                type: "POST",
                data: formData, // 직렬화한 폼 데이터를 전송
                success: function (data) {
                    if (data.trim()==='YES') {
                        purchAddSuccess(result);
                    } else {
                        Swal.fire('실패!', '빈칸이 있는지 확인해주세요.', 'error');
                    }
                },error: function () {
                    Swal.fire('에러 발생', '서버 오류가 발생했습니다.', 'error');
                }
            });
        }

    }) // end Swal
}
	
// 기계정보 추가 로직
	function machineAddList(){
    const formData = $("#machineAddLabelForm").serialize();

    Swal.fire({
        title: '기계 추가',
        text: "정말로 추가 하시겠습니까?",
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '승인',
        cancelButtonText: '취소',
        reverseButtons: false, // 버튼 순서 거꾸로

    }).then(result => {

        if(result.isConfirmed){
            $.ajax({
                url: "http://localhost:8090//clientcompany/machineadd",
                type: "POST",
                data: formData, // 직렬화한 폼 데이터를 전송
                success: function (data) {
                    if (data.trim()==='YES') {
                        purchAddSuccess(result);
                    } else {
                        Swal.fire('실패!', '빈칸이 있는지 확인해주세요.', 'error');
                    }
                },error: function () {
                    Swal.fire('에러 발생', '서버 오류가 발생했습니다.', 'error');
                }
            });
        }

    }) // end Swal
}


	// 판매정보 추가 로직
	function sellAddList(){
    const formData = $("#sellAddLabelForm").serialize();

    Swal.fire({
        title: '판매 정보 추가',
        text: "정말로 추가 하시겠습니까?",
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '승인',
        cancelButtonText: '취소',
        reverseButtons: false, // 버튼 순서 거꾸로

    }).then(result => {

        if(result.isConfirmed){
            $.ajax({
                url: "http://localhost:8090/clientcompany/selladd",
                type: "POST",
                data: formData, // 직렬화한 폼 데이터를 전송
                success: function (data) {
                    if (data.trim()==='YES') {
                        purchAddSuccess(result);
                    } else {
                        Swal.fire('실패!', '빈칸이 있는지 확인해주세요.', 'error');
                    }
                },error: function () {
                    Swal.fire('에러 발생', '서버 오류가 발생했습니다.', 'error');
                }
            });
        }

    }) // end Swal
}

	
	
	
function purchAddSuccess(result){
    Swal.fire(
        'success',
        '추가 완료되었습니다.',
        'success'
    ).then(function(){
        location.href = location.href;
    })
}


// 판매정보 수정 로직
function EditSellData(){
const formData = $("#SellDataEditLabelForm").serialize();

Swal.fire({
    title: '판매정보 수정',
    text: "정말로 수정 하시겠습니까?",
    icon: 'info',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: '승인',
    cancelButtonText: '취소',
    reverseButtons: false, // 버튼 순서 거꾸로

}).then(result => {

    if(result.isConfirmed){
        $.ajax({
            url: "http://localhost:8090/clientcompany/update",
            type: "POST",
            data: formData, // 직렬화한 폼 데이터를 전송
            success: function (data) {
                if (data.trim()==='YES') {
                    updateSuccess(result);
                } else {
                    Swal.fire('실패!', '빈칸이 있는지 확인해주세요.', 'error');
                }
            },error: function () {
                Swal.fire('에러 발생', '서버 오류가 발생했습니다.', 'error');
            }
        });
    }

}) // end Swal
}

function updateSuccess(result){
Swal.fire(
    'success',
    '수정이 완료되었습니다.',
    'success'
).then(function(){
    location.href = location.href;
})
}


// 고객사 정보 조회
function initSell(duct){
	const client_company = duct[0];
	const address = duct[1];
	const comp_number = duct[2];
	const email = duct[3];
	const machine_id = duct[4];
	const machine_name = duct[5];
	const machine_memo = duct[6];
	const responsibility = duct[7];
	const ph_number = duct[8];
	
	document.querySelector("#SellclientCompany").value = client_company;
	document.querySelector("#SellAddress").value = address;
	document.querySelector("#SellCompNumber").value = comp_number;
	document.querySelector("#SellEmail").value = email;
	document.querySelector("#SellMachineId").value = machine_id;
	document.querySelector("#SellMachineName").value = machine_name;
	document.querySelector("#SellMachineMemo").value = machine_memo;
	document.querySelector("#SellReposibility").value = responsibility;
	document.querySelector("#SellPhNumber").value = ph_number;
}

// 기계코드
function initMachineAdd(duct){
	const clientCompany = duct[0];
	const client_id = duct[1];
	document.querySelector("#addclientCompany").value = clientCompany;
	document.querySelector("#addclient_id").value = client_id;
}

//판매 <- 기계코드등 설렉터
function initSellAdd(duct){
	const clientCompany = duct[0];
	const client_id = duct[1];
	const machine_name = duct[2];
	const machine_id = duct[3];
	document.querySelector("#clientCompany").value = clientCompany;
	document.querySelector("#client_id").value = client_id;
	document.querySelector("#machine_name").value = machine_name;
	document.querySelector("#machine_id").value = machine_id;
}


	// 수정창 리스트 형식 가져오기
	function initProductEdit(duct){
	    const pdtnum = duct[0];
	    const Product = duct[1];
	    const purchasecomp = duct[2];
	    const reposibility = duct[3];
	    const pweight = duct[4];
	    const plength = duct[5];
	    const quantity = duct[6];
	    const pchprice = duct[7];
	    const price = duct[8];
	    const tax = duct[9];
	    const difference = duct[10];

	    document.querySelector("#Editpdtnum").value = pdtnum;
	    document.querySelector("#EditProduct").value = Product;
	    document.querySelector("#Editpurchasecomp").value = purchasecomp;
	    document.querySelector("#EditReposibility").value = reposibility;
	    document.querySelector("#EditPweight").value = pweight;
	    document.querySelector("#EditPlength").value = plength;
	    document.querySelector("#EditQuantity").value = quantity;
	    document.querySelector("#EditPchprice").value = pchprice;
	    document.querySelector("#EditPrice").value = price;
	    document.querySelector("#EditTax").value = tax;
	    document.querySelector("#EditDifference").value = difference;
	}
	
	
	
	// 판매정보 수정 리스트 가져오기
	function initSellDataEdit(duct){
	    const sell_pdt = duct[0];
	    const client_id = duct[1];
	    const client_company = duct[2];
	    const machine_id = duct[3];
	    const machine_name = duct[4];
	    const responsibility = duct[5];
	    const sell_length = duct[6];
	    const sell_weight = duct[7];
	    const sell_quantity = duct[8];
	    const sell_price = duct[9];
	    const tax = duct[10];
	    const resp_id = duct[11];

	    document.querySelector("#Editsell_pdt").value = sell_pdt;
	    document.querySelector("#Editclient_id").value = client_id;
	    document.querySelector("#Editclient_company").value = client_company;
	    document.querySelector("#Editmachine_id").value = machine_id;
	    document.querySelector("#Editmachine_name").value = machine_name;
	    document.querySelector("#Editresponsibility").value = responsibility;
	    document.querySelector("#Editsell_length").value = sell_length;
	    document.querySelector("#Editsell_weight").value = sell_weight;
	    document.querySelector("#Editsell_quantity").value = sell_quantity;
	    document.querySelector("#Editsell_price").value = sell_price;
	    document.querySelector("#Edittax").value = tax;
	    document.querySelector("#Editresp_id").value = resp_id;
	}
	
	
	</script>
	
	
	
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var machineDropdown = document.getElementById('machineDropdown');
        var machineIdInput = document.getElementById('machine_id');

        machineDropdown.addEventListener('change', function () {
            var selectedMachine = machineDropdown.options[machineDropdown.selectedIndex];
            var selectedMachineId = selectedMachine.value;
            var selectedMachineName = selectedMachine.textContent;

            machineIdInput.value = selectedMachineId; // 선택된 machine_id 값을 input 요소에 설정
            // 여기서 선택된 machine_name을 필요에 따라 사용할 수 있습니다.
        });
    });
</script>







</body>

</html>