<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manageMapper">

<!-- 재고 작성 -->
   <insert id="productinsert">
	   INSERT INTO TEST_ALLBOARD(PDTNUM, PRODUCT, PURCHASECOMP, REPOSIBILITY, PWEIGHT
	   							, PLENGTH, QUANTITY, PCHPRICE, PRICE, TAX, DIFFERENCE)
	                 VALUES( TEST_ALLBOARD_SEQ.NEXTVAL, #{product}, #{purchasecomp}, #{reposibility}, #{pweight}
	                 		, #{plength}, #{quantity}, #{pchprice}, #{price}, #{tax}, #{difference} )
   
   </insert>
   
<!-- 재고 조회 -->
   <select id="productlist" resultType="com.bando.dto.manageDTO">
	   SELECT PDTNUM, BUTDATE, PRODUCT, PURCHASECOMP, REPOSIBILITY, PWEIGHT
	   			, PLENGTH, QUANTITY, PCHPRICE, PRICE, TAX, DIFFERENCE
	   		FROM TEST_ALLBOARD
	        ORDER BY PDTNUM DESC  
   </select>
   
 <!-- 재고 수정 -->
   <update id="productupdate" parameterType="com.bando.dto.manageDTO">
	   UPDATE TEST_ALLBOARD
	   		SET PRODUCT = #{product},
	   			PURCHASECOMP = #{purchasecomp},
	   			REPOSIBILITY = #{reposibility},
	   			PWEIGHT = #{pweight},
	   			PLENGTH = #{plength},
	   			QUANTITY = #{quantity},
	   			PCHPRICE = #{pchprice},
	   			PRICE = #{price},
	   			TAX = #{tax},
	   			DIFFERENCE = #{difference}
	   			
	   WHERE PDTNUM = #{pdtnum}  
   </update>
   
<!-- 재고 삭제 -->
   <delete id="productdelete" parameterType="int">
	   DELETE 
			FROM TEST_ALLBOARD
		WHERE PDTNUM = #{pdtnum}  
	                 
   </delete>
   
   <!-- 총 단가, 총 매출, 총 내역 수 출력 -->
   <select id="saleslist" resultType="com.bando.dto.SalesDTO">
    	SELECT SUM(PCHPRICE) AS total_pchprice, 
           	   SUM(DIFFERENCE) AS total_difference,
           	   COUNT(*) AS total_cnt
    		FROM TEST_ALLBOARD
	</select>
   
   <!-- 구매처 회사 정보 작성 -->
   <insert id="purchasecompinsert">
	   INSERT INTO purchasecomp_table(purchase_id, purchase_company, adress, comp_number, email)
	                 VALUES( purchasecomp_table_SEQ.NEXTVAL, #{purchase_company}, #{adress}, #{comp_number}, #{email} )
   
   </insert>
   
<!-- 구매처 회사 정보 조회 -->
   <select id="purchasecomplist" resultType="com.bando.dto.PurchaseCompDTO">
	   SELECT purchase_id, purchase_company, adress, comp_number, email
	   		FROM purchasecomp_table
   </select>
   
<!-- 구매처 회사 매칭해 거래내역 추가 -->
<insert id="purchcomptradelist">
	   INSERT INTO purchase_table (purchase_id, product, pur_quantity, 
	   								purchase_price, pur_length, pur_weight)
	   			VALUES ( #{purchase_id}, #{product}, #{pur_quantity}, #{purchase_price}, #{pur_length}, #{pur_weight})
   </insert>
   
</mapper>



